@page "/makes/create/"
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
@attribute [Authorize]

<h3 class="card-title">Create New Make</h3>
<hr />
<br />

<MakesComponent ButtonText="Create Make" make="make" OnValidSubmit="@CreateMake" />

@code {
    private Make make = new Make();

    private async Task CreateMake()
    {
        await _httpClient.PostAsJsonAsync<Make>(EndPoints.MakesEndPoint, make);
        _navigationManager.NavigateTo("/makes/");
    }
}
