@page "/"

<style>
    h1 {
        font-weight: bold;
        color: #2a40ee;
    }

    img {
        border: 10px solid;
        border-color: #2a40ee;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h1>Car Rental Management</h1>
<hr />
<br />
<br />
<img src="/images/car-rental-image.png" alt="Rental Cars..." />


