@page "/models/"
@attribute [Authorize]

<style>
    .model {
        font-weight: bold;
        color: #2751d8;
        align-self: center;
    }

    h3 {
        font-weight: bold;
        font-size: 35px;
        color: #2a40ee
    }
</style>

<IndexPageHeader PageLink="/models/create" ButtonText="Create New Model" Title="Car Models" />

@if (Models == null)
{
    <div class="alert alert-info" Loading Models...></div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var model in Models)
            {
                <tr>
                    <td class="model">@model.Name</td>
                    <td>
                        <a href="models/view/@model.Id" class="btn btn-primary" title="View selected model">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="models/edit/@model.Id" class="btn btn-warning" title="Edit selected model">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(model.Id))" title="Delete selected model">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
