@page "/models/view/{id:int}"
@inject HttpClient _httpClient;
@inject NavigationManager _navigationManager;

<h3>View Model</h3>

<ModelsComponent model="model" Disabled="true" />

@code {

    [Parameter] public int id { get; set; }
    Model model = new Model();

    protected async override Task OnParametersSetAsync()
    {
        model = await _httpClient.GetFromJsonAsync<Model>($"{EndPoints.ModelsEndPoint}/{id}");
    }

    private async Task EditModel()
    {
        await _httpClient.PutAsJsonAsync($"{EndPoints.ModelsEndPoint}/{id}", model);
        _navigationManager.NavigateTo("/models/");
    }
}
